body::after {
  content: url("pinkWorm20blink.png");
}

#wormImage {
  height: 60px;
  width: 60px;
}

#resultsA {
  min-height: 250px;
}

#bookshelf {
  min-height: 250px;
}

#resultsHeader {
  margin-top: 50px;
}

#search {
  margin-top: 30px;
}

#searchRadio {
  display: inline-block;
}

#recommendRadio {
  display: inline-block;
}

.spanFix {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card img {
  height: 300px;
  object-fit: contain;
}

.btn-fix {
  line-height: inherit !important;
}

.container {
  background-image: url("pinkWorm20.png");
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 800px;
}
